.navbar.static-top{
  font-family: Helvetica;
}


.navbar.static-top a:link, .navbar.static-top a:visited{
color:black;
}

.navbar.static-bottom a:link, .navbar.static-bottom a:visited{
color:black;

}

.mlr-auto{
    height:55px;
    outline:none;
}