
{% extends 'main/base.html' %}

{% block whole %}
{% load static %}
<link rel="styles   heet" href="{% static "main/about.css" %}">
<body>
    <div id="header">
        <h1>About</h1>
    </div>
    <div id="main_body">

    I am currently working as a banker and have been in banking for about 2 years. I graduated in September 2019 from
    Thomas Edison State University with a 3.9GPA with a degree in Computer Science. I'm currently looking to transition to software development.
    </div>

</body>


{% endblock %}
