
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static "main/base.css" %}">

    <body>
        <div id="page-header">
            <ul id="nav_bar">
                <li><a href="/">Subotai 54</a></li>
                <li><a href="/rank/">Ranking</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="https://github.com/subotai54">Github</a></li>
                <li>Projects</li>
                <li><a href="/blog/">Blog</a></li>
            </ul>



        </div>
        <div class="content-container">
                {% block whole %}
                {% endblock %}
        </div>
    </body>
</html>