
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static "main/base.css" %}">

    <body>
        <div id="page-header">
            <ul id="nav_bar">
                <li><a href="/">Home</a></li>
                <li><a href="/rank/">Ranking</a></li>
                <li><a href="/about/">About</a></li>
            </ul>



        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block whole %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>