
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static "main/styles.css" %}">

    <body>
        <div id="page-header">
            <a href="/">Home</a>
            <a href="/rank/">Ranking</a>
            <a href="/about/">About</a>



        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block whole %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>