
{% extends 'main/base.html' %}

{% block whole %}
{% load static %}
<link rel="stylesheet" href="{% static "main/index.css" %}">
<div class='container'>
    <div class="row  mx-auto justify-content-center">
        <h1>Main Page</h1>
    </div>
    <div class="row  mx-auto justify-content-center">
        <p>Hello! This is the main page for my website that I am building to help learn Django and Python. Projects will be added to the site as they are put into atleast a semi-functional state, and the code is hosted on <a href="https://github.com/subotai54/website" class="inline">github</a>. The about page describes the website further.</p>
    </div>
</div>
</body>
{% endblock %}
