
{% extends 'main/base.html' %}

{% block whole %}
{% load static %}
<link rel="stylesheet" href="{% static "main/index.css" %}">
<div class='container'>
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
            <p class="lead">Welcome to my page for documenting and sharing my projects</p>
            <p>Projects will be posted through Github and this website as appropriate and as they become presentable</p>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Projects</h2>
            <p>
                Projects done using html/css/js
            </p>
            <p>
                <a class="btn btn-secondary" href="projects/">Projects</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>About</h2>
            <p>
                Learn more about this website
            </p>
            <p>
                <a class="btn btn-secondary" href="about/">About</a>
            </p>

        </div>
        <div class="col-md-4">
            <h2>Blog</h2>
            <p>
                Personal blog with mostly thoughts about the Miami Heat
            </p>
            <p>
                <a class="btn btn-secondary" href="blog/">Blog</a>
            </p>

        </div>
    </div>
</div>
</body>
{% endblock %}
