{% extends "main/base.html" %}

{% block whole %}

    <div class="col-md-8">
        {% if object_list %}

            {% for List in object_list %}
            <div class="card mx-auto">
                <div class="card-body">
                    <h1 class="card-title">{{ List.title }}</h2>
                    <p class="card-text text-muted h6">{{ List.created_on}} </p>
                    <a href="{% url 'list_detail' List.author List.slug  %}" class="btn btn-primary">Access List</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="card mx-auto">
                <div class="card-body">
                    <h1 class="card-title"> No Lists available</h2>

            </div>
        {% endif %}
    </div>
{% endblock whole %}
