{% extends "main/base.html" %}

{% block whole %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
            <h1>{{ List.title }}</h1>
            {% for movie in films %}

                <p class=" text-muted">{{movie.rank}} | {{movie.name}}</p>
            {% endfor %}

        </div>
        {% block error %}
        {{message}}
        {% endblock %}
        <div class="card-body">
        <form method="POST" class="rank-form">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="save btn btn-default">Save</button>
        </div>
    </form>
    </div>

  </div>
</div>

{% endblock whole %}
