* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
}

li.active a {
    color:white;
}

.navbar.fixed-top {
    color:white;
}


.navbar.fixed-top a:hover {
    color:#e3dede;
}

.navbar.fixed-top a:not(.active){
    color:#D2C0BD;
}