#page-header{
display: inline-block;
width: 98vw;
text-align: center;
font-size:1em;
padding: 0;
margin: auto;
box-sizing=border-box;
background-color:#fdffde;
}


#page-header a:visited {
  color: red;
}


#page-header #nav_bar li {
display: inline-block;
list-style-type: none;
padding: 0;
text-align: center;
box-sizing=border-box;
margin:9px;

}