{% load static %}

<link rel="stylesheet" href="{% static "projects/google.css" %}">



<div class="container">
    <div class=row">
        <nav class="navbar navbar-expand-md static-top">
            <ul class="list-inline  ml-0 justify-content-left">
                <li class="list-inline-item"><a href="https://about.google/?fg=1&utm_source=google-US&utm_medium=referral&utm_campaign=hp-header">About</a></li>
                <li class="list-inline-item"><a href="https://store.google.com/US?utm_source=hp_header&utm_medium=google_ooo&utm_campaign=GS100042&hl=en-US">Store</a></li>
            </ul>
            <ul class="list-inline  ml-auto justify-content-right">
                <li class="list-inline-item"><a href="https://mail.google.com/mail/?tab=wm&ogbl">Gmail</a></li>
                <li class="list-inline-item"><a href="https://www.google.com/imghp?hl=en&tab=wi&ogbl">Images</a></li>
                <li class="list-inline-item"><a href="/">Tiles</a></li>
                <li class="list-inline-item"><a href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/">Sign In</a></li>
            </ul>
        </nav>

    </div>
</div>
<div class="row text-center">
    <img src="{%static "projects/google_logo.png" %}" alt='google logo' class="ml-auto mr-auto mt-5 d-block">
</div>


<div class="row mx-auto text-center mb-5">
    <div class="mx-auto border rounded col-6">
        <p class="list-inline-item mb-0 mt-0">glass</p>
        <input type="text" class="list-inline-item mlr-auto border-0 mb-0 mt-0 w-75">
        <p class="list-inline-item mb-0 mt-0">mic</p>
    </div>
</div>

<div class="row mx-auto text-center mb-4">
    <div class="ml-auto mr-2">
        <button type="button" class="border-0 py-2 px-3 rounded" style="background-color:#F2F2F2;">Google Search</button>
    </div>
    <div class="mr-auto">
        <button type="button" class="border-0 py-2 px-3 rounded" style="background-color:#F2F2F2;">I'm Feeling Lucky</button>
    </div>
</div>

<div class="mt-5 mb-5"></div>

<div class=row">
    <nav class="navbar navbar-expand-md static-bottom navbar-light" style="background-color:#F2F2F2;">
        <ul class="list-inline  ml-0 justify-content-left">
            <li class="list-inline-item py-0"><a href="https://www.google.com/intl/en_us/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Advertising</a></li>
            <li class="list-inline-item py-0"><a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Business</a></li>
            <li class="list-inline-item py-0"><a href="https://google.com/search/howsearchworks/?fg=1">How Search Works</a></li>
        </ul>

        <ul class="list-inline  ml-auto justify-content-right">
            <li class="list-inline-item py-0"><a href="https://policies.google.com/privacy?fg=1">Privacy</a></li>
            <li class="list-inline-item py-0"><a href="https://policies.google.com/terms?fg=1">Terms</a></li>
            <li class="list-inline-item py-0"><a href="https://www.google.com/preferences?hl=en">Settings</a></li>
        </ul>
    </nav>
</div>