{% load static %}

<img src="{%static "projects/google_logo.png" %}" alt='google logo'>
<link rel="stylesheet" href="{% static "projects/google.css" %}">



<nav class="navbar navbar-expand-md static-top">
    <ul class="list-inline  mx-auto justify-content-left">
        <li class="list-inline-item"><a href="https://about.google/?fg=1&utm_source=google-US&utm_medium=referral&utm_campaign=hp-header">About</a></li>
        <li class="list-inline-item"><a href="https://store.google.com/US?utm_source=hp_header&utm_medium=google_ooo&utm_campaign=GS100042&hl=en-US">Store</a></li>
    </ul>
    <ul class="list-inline  mx-auto justify-content-right">
        <li class="list-inline-item"><a href="https://mail.google.com/mail/?tab=wm&ogbl">Gmail</a></li>
        <li class="list-inline-item"><a href="https://www.google.com/imghp?hl=en&tab=wi&ogbl">Images</a></li>
        <li class="list-inline-item"><a href="/">Tiles</a></li>
        <li class="list-inline-item"><a href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/">Sign In</a></li>
    </ul>
</nav>
