{% load static %}
<link rel="stylesheet" href="{% static "projects/squaresketch.css" %}">
<div class="summary">
    <h2>Etch-A-Sketch</h2>
    <p>
        This is a etch a sketch that creates boards with dimension 1x1 up to 40x40. Each time you hover over a square, it darkens the square by about 10%. Draw to your hearts content! Hitting the reset button will
        reset the square and let you pick a new dimension if you so choose (default 16). But each time you do it'll come back a different color. If you want your own color, hit the pick color button and format it as shown.
    </p>

</div>

<div class="container" id="main_square">


<script src="{% static 'projects/squaresketch.js' %}"></script>
</div>
  <script>
        $(document).on('click', '#resetbtn', function(){
            var num = prompt("What dimensions for the square? (Max 40)", "16");
            var squares = parseInt(num);
            $('.sketch').remove()
            $('.sketch-row').remove()

            makeSquares(squares);
        });
        $(document).on('click', '#colorbtn', function(){
            var num = prompt("Enter your dimensions for the square and your color in rgb, seperated by commas","16,200,200,200");
            var squares = num.split(',')[0]
            var r = num.split(',')[1]
            var g = num.split(',')[2]
            var b = num.split(',')[3]

            $('.sketch').remove()
            $('.sketch-row').remove()

            makeSquares(squares,r,g,b);
            $(this).css("background-color")

        });
  </script>
<script>
    window.onload = function() {
        makeSquares(4,255,255,255);
    };
</script>

<div class="container">

  <button id="resetbtn" class="button">Reset Square</button>
  <button id="colorbtn" class="button">Reset and Pick Color</button>

</div>

