{% extends 'main/base.html' %}
{% block whole %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Subotai 54's Blog</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
</head>
<body>

{% block sidebar %}
<div class="card my-4">

{% endblock sidebar %}
            {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
</body>
{% endblock whole %}
